# Introducing Python

**Now type 
python
 to use interactive mode. Write "Hello World" in python. Using a variable named 
world
 rewrite your "Hello World" to be "Hello " and the current value held in the variable 
world
.**

In [65]:
world = "World"
print("Hello ", world)

Hello  World

**Write a script that prompts the user to enter a number. Read this number and print a message depending on whether it is odd or even.**

In [66]:
def enter_num():
    num = int(input("Please enter a number"))
    return num

def check_num(number):
    if number%2==0:
        print(str(number) + " : even")
    else:
        print(str(number) + " : odd")

        
def run():
    number = enter_num()
    check_num(number)
    

        
run()

Please enter a number4
4 : even

**Create two variables,
one containing your name and the other containing your age.
Now print out the values of both of these variables on separate lines,
then combine both into a single variable and print out its value.**

In [67]:
my_name = "Selasi"
my_age = 20
print(my_name + "\n" + str(my_age))

Selasi
20

In [68]:
my_info = my_name + " " + str(my_age)
print(my_info)

Selasi 20

**Print out a message to the user, asking them to guess a random number (you can decide on a range if you want). Keep asking them to guess until they get it right.
You will need to use the random module:**

In [91]:
import random
def get_random_number():
    rand_num =  random.randrange(0,11)
    return rand_num

def guess_game():
    rand_num = get_random_number()
    user_num = -1
    while user_num!=rand_num:
        user_num = int(input("Enter a number between 0 and 10\n"))
        print(f"You are wrong,  try again")

#         print(f"You are wrong the guess number is {rand_num}")

    else:
        print(f"You are right, you have guess the right number {user_num}")
        
guess_game()

Enter a number between 0 and 10
1
You are wrong,  try again
Enter a number between 0 and 10
2
You are wrong,  try again
You are right, you have guess the right number 2

### **Declare a list 
[1, 4, 9, 16, 25]
 or tuple 
(1, 4, 9, 16, 25)
, and using the for-loop print out all values that are even.**

In [92]:
list_1  = [1,2,3,4,5]
for num in list_1:
    if num%2==0:
        print(num)
    else:
        continue

2
4

Using a while-loop print out the sum of all the years up to and including your current age, for example, if you were 5 y.o. you would end up with 1 + 2 + 3 + 4 + 5 = 15. Print out the final value in years (15 years). Also print out the calculated number of years as a number of months, days and hours.

In [93]:
def get_age():
    
    my_age = int(input("Enter your age\n"))
    return my_age


def info(my_age):

    total = 0
    while my_age > 0:
        total += my_age
        my_age -=1
    print("Total in years: ", total)
    print("Total in months: ",total*12 )
    print("Total in days: ",total*366 )
    print("Total in hours: ",total*366*12 )

def run():
    age = get_age()
    info(age)
    
run()

Enter your age
1
Total in years:  1
Total in months:  12
Total in days:  366
Total in hours:  4392

# Data Types

**Write down the types of the following expressions:**

In [94]:
type(5)

int

In [95]:
type(500*50000000)

int

In [96]:
type('j')

str

In [97]:
type(1j)

complex

In [98]:
type((1,))

tuple

In [100]:
type([1])

list

In [101]:
type(None)

NoneType

In [102]:
type(5.551151231e-17)

float

In [105]:
# print(Decimal(".1") + Decimal(".1") + Decimal(".1")+Decimal("0.3"))

NameError: name 'Decimal' is not defined

**Write a script to print out the first 20 Fibonacci numbers.**

In [121]:
list_2 = []
for i in range(0,20):
    if i< 2:
        list_2.append(i)
    else:
         list_2.append(list_2[-1]+list_2[-2])
for num in list_2:
    print(num)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

**Examine the string type and some of its methods:**

**Assign your name to a variable. Print out the last character of the variable (remember, strings are just lists of ``chars``).**

**(``":"``), for example: ``m:i:k:e``.**

In [115]:
my_name = "Selasi"
print("Last character of my_name: ", my_name[-1])

Last character of my_name:  i

Now use a for loop to print each letter in your name followed by a colon (``":"``), for example: ``m:i:k:e``.

In [144]:
for i in my_name:
    print(i, end=":")

S:e:l:a:s:i:

Write a script that asks the user to enter 10 numbers between 1 and 8. 

Store the 10 numbers in a list.

Count the number of times the user enters the number 5.
Note that lists have a method called 
count()
.

In [173]:
list_2 = []

count = 0 

while count< 10:
    num =int (input("Enter a number between 1 and 8\n"))

    if (num>8 or num<1):
        count-=1
    else:
        list_2.append(num)
    count+=1

print("Count of 5: ",list_2.count(5))

Enter a number between 1 and 8
2
Enter a number between 1 and 8
3
Enter a number between 1 and 8
4
Enter a number between 1 and 8
5
Enter a number between 1 and 8
6
Enter a number between 1 and 8
7
Enter a number between 1 and 8
5
Enter a number between 1 and 8
5
Enter a number between 1 and 8
5
Enter a number between 1 and 8
5
Count of 5:  5

**Declare a list [1, 4, 9, 16, 25] (as in the previous exercise); use list comprehension to filter out all the odd numbers**

In [182]:
list_3 =  [ 1,4,9,16,25]
[i for i in list_3 if i%2==0]

[4, 16]

# Functions

Experiment with the following ways to pass arguments to functions:

In [183]:
def inc(x):
    x=x+1
x= 10
inc(x)
print("x: ",x)

x:  10

**Write a function that takes the last element in a list and moves it to the front of the list.**

In [184]:
my_list = [1,2,3,4,5]
def my_func(lists):
    last_element = lists.pop()
    lists.insert(0,last_element)
    return lists
my_func(my_list)

[5, 1, 2, 3, 4]

**Write a function that takes a list and a variable number of indices. The function should return a tuple of the values at those indices.**

In [206]:
# list_3  = [1,2,3,4,5,6]
# num = 2

# def new_func(list_1, index):
#     return (index, list_1[index])

# new_func(list_3,num)

In [207]:

def test1(list, **kwargs):
    list1 = []
    
    for arg in kwargs.values():
        list1.append(list[arg])    
    
    return tuple(list1)

list=[1,2,3,4,5,6,7,8,9]

print(test1(list, index1=1 , index3 = 3, index5=5))

(2, 4, 6)

**Write a function that takes named parameters and returns the parameters as a Dictionary of parameter name -> value**

In [225]:
# my_dict = {1:"One",2:"Two",3:"Three"}
# def new_dict(dic):
#     for (k,v) in dic.items():
#         print(k , "->", v)

# new_dict(my_dict)

In [226]:
def season(**kwargs):
    dict = {}
    
    for key in kwargs.keys():
        dict[key]= kwargs[key]
        
    return dict

seasons = season(Winter = ("Dec", "Jan", "Feb"), Spring = ("Mar", "Apr", "May"),
                 Fall = ("Jun", "Jul", "Aug"),Summer =("Sep", "Oct", "Nov"))

print(seasons)

{'Winter': ('Dec', 'Jan', 'Feb'), 'Spring': ('Mar', 'Apr', 'May'), 'Fall': ('Jun', 'Jul', 'Aug'), 'Summer': ('Sep', 'Oct', 'Nov')}

**Write a function that take an initial value and a tuple of ints and accumulates into the initial value. For example:
acc(0, (1,3,5)) returns 9**

In [213]:
def acc(val, tup):
    sum_tup = 0
    for i in tup:
        sum_tup +=i
    total = sum_tup+val
    return total
acc(0,(1,3,5))

9

**Rewrite your Fibonacci exercise from earlier to use a function that takes an argument for how many numbers are required. Test your code with the following calls:**

In [222]:
def fib_seq(number):
    list_2 = []
    for i in range(0,number):
        if i< 2:
            list_2.append(i)
        else:
             list_2.append(list_2[-1]+list_2[-2])
    for num in list_2:
        print(num)
        
fib_seq(20)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

**Rewrite the function again, so that it returns a list of values.**

In [224]:
def fib_seq(number):
    list_2 = []
    for i in range(0,number):
        if i< 2:
            list_2.append(i)
        else:
             list_2.append(list_2[-1]+list_2[-2])
    print(list_2)
fib_seq(20)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]